
.gallery {

  div.link,
  div.book,
  div.app,
  div.theme {
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }

  div.link,
  div.app,
  div.theme {  
    width: 330+15px;   // note: add margin+border
    margin-right: 15px;
    margin-bottom: 15px;
  }

  div.book {
    width: 200+10px;     // note: add margin+border
    margin-right: 10px;
    margin-bottom: 10px;    
  }

  div.link-title,
  div.app-title,
  div.theme-title {
    margin-bottom: 10px;
  }

   .link-img img,
    .app-img img,
  .theme-img img {
    border: 1px solid #bbb;
  }
}
