[submodule "books"]
	path = _data/books
	url = https://github.com/planetruby/books
[submodule "gems"]
	path = _posts
	url = https://github.com/planetruby/gems
[submodule "links"]
	path = _data/links
	url = https://github.com/planetruby/links.git
[submodule "apps"]
	path = _data/apps
	url = https://github.com/planetruby/apps.git
