---
layout: default
title:  "Ruby Books 'n' Screencasts"
---


<p>
  Subscribe to the <a href="{{ site.url }}/books/feed.xml">{{ page.title}} News Feed »</a>
</p>


<h1>{{ page.title }}</h1>


{% include welcome-books.html %}


<div class='gallery'>
{% for book in site.data.books %}

  <div class='book'>
    <div class='book-img'>
        <!-- note: scale image to 200px height -->
        <img src="{{site.url}}/i/books/{{book.cover}}" style="height: 200px; width: auto;">
    </div>
    <div class='book-title'>
        {{ book.title }} by
        {{ book.author }};
        {{ book.publisher }},
        {{ book.date }},
        {{ book.pages}}
    </div>
  </div>

{% endfor %}
</div>
