---
layout: default
title:  "Ruby Books 'n' Screencasts"
---


<p>
  Subscribe to the <a href="{{ site.url }}/books/feed.xml">{{ page.title}} News Feed »</a>
</p>


<h1>{{ page.title }}</h1>


{% include welcome-books.html %}


<div class='gallery'>
{% for book in site.books %}

  <div class='book'>
    <div class='book-title'>
      <a href="{{ site.url }}{{ book.url }}">
        {{ book.title }}
      </a>
    </div>
    <div>
      <a href="{{ site.url }}{{ book.url }}">
        <img src="{{site.url}}/i/{{book.cover}}">
      </a>
    </div>
  </div>

{% endfor %}
</div>
