
<p>
  Welcome. The Ruby 'n' Rails Apps page
  collects ready-to-use open source web apps.
</p>

<h2>Edit Me! Contributions Welcome</h2>
<p>
 Any goodies missing? New apps and tips always welcome.
    <a href="https://github.com/planetruby/apps/pulls">Send in a pull request</a>
      or
    <a href="https://github.com/planetruby/apps/issues">open an issue ticket</a>
      to get the conversation started and your app published on Planet Ruby.
      The data gets stored as plain text in YAML. Example:
</p>

<pre>
- title:       "world.db.codes - 250 Country Codes (Alpha2, Alpha3, TLDs, etc.) - Sinatra Web App"
  screenshot:  country-codes-320x240.png
  github:      worlddb/world.db.codes
  demo_url:    http://countrycodes.herokuapp.com
</pre>

<p>
(Source: <a href="https://github.com/planetruby/apps/blob/master/ruby.yml"><code>apps/ruby.yml</code></a>)
</p>

