<p>
  Welcome. The Ruby Books 'n' Screencasts page
   lists books and screencasts about all things Ruby.
</p>

<h2>Edit Me! Contributions Welcome</h2>
<p>
   Any goodies missing? New books, screencasts and tips always welcome.
     <a href="https://github.com/planetruby/books/pulls">Send in a pull request</a>
       or
    <a href="https://github.com/planetruby/books/issues">open an issue ticket</a>
      to get the conversation started and the book or screencast
      posted on Planet Ruby. The data gets stored as plain text in YAML. Example:
</p>

<pre>
- title:     "Ruby Under a Microscope - An Illustrated Guide to Ruby Internals"
  author:    Pat Shaughnessy"
  cover:     2013/ruby-under-a-microscope.png
  publisher: No Starch Press
  date:      Nov 2013
  pages:     360 pages
  book_url:  http://www.nostarch.com/rum
</pre>

<p>
(Source: <a href="https://github.com/planetruby/books/blob/master/ruby_core.yml"><code>books/ruby_core.yml</code></a>)
</p>

