<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - {{ site.title }}</title>
   <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css" >
   <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/gems/feed.xml" title="Ruby Gem of the Week News Feed">
<!--
   <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/links/feed.xml" title="Ruby Links 'n' Bookmarks News Feed">
   <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/books/feed.xml" title="Ruby Books 'n' Screencasts News Feed">
   <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/apps/feed.xml" title="Open Source Ruby 'n' Rails Apps News Feed">
-->
</head>
<body  style='margin: 0;'>

  {% include banner.html %}

<!-- wrap in container -->
<div style='margin: 6px;'>

    {% include announce.html %}

    <div id="content">
      {{ content }}
    </div>

</div>
</body>
</html>
